:checked + .tabbar__button {
  color: #ffffff !important;
}

//Backgrounds

.page {
  background: #0d0d0d !important;
}

.gradient-background {
  background: linear-gradient(69deg, #212121 0%, #212121 52%, #272727 52%, #272727 100%) !important;
}

.ta-jl {
 text-align: justify !important;
}